/*-----Aplicando flex a toda la página----*/

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/*----aplicando flex a seccion principal----*/

.principal {
  display: flex;
  width: 1200px;
  height: 2300px;
  margin: auto;
  border: 4px solid rgb(0, 0, 66);
  font-family: 'Sofia Sans', sans-serif;
  font-size: larger;
  padding: 10px;
  background-color: rgb(226, 240, 252);
}

/*----aside----*/

.aside {
  background-color: rgb(0, 0, 66);
  width: 30%;
  color: white;
  padding: 40px 40px 0px 40px;
}

/*----aplicando flex para volverlo responsive-----*/


@media (max-width: 1111px) {
  #nombre,
  #apellido {
    font-size: 70px;
  }
  .principal {
    height: 2500px;
  }
}

@media (max-width: 745px) {
  #nombre,
  #apellido {
    font-size: 60px;
  }
  .principal {
    height: 2700px;
  }
}

.direccionmail {
  color: yellow;
  font-size: 20px;
}

dt {
  font-weight: bolder;
  font-size: 25px;
}

dd {
  margin: 0px auto 20px;
  font-size: 20px;
}

.contacto {
  border: 2px solid black;
  margin-top: 150px;
}

.title-education {
  font-size: xx-large;
}

.borde-inferior {
  border-bottom: 2px dashed white;
  padding-bottom: 20px;
}

.aside h2 {
  font-size: 200%;
  font-weight: 800;
  border-bottom: 2px solid white;
  text-align: center;
}

h3 {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

aside figure img {
  width: 120%;
  margin-left: -30px;
  border-radius: 50%;
  border: 4px solid white;
}

meter {
  display: block;
  width: 80%;
  border-radius: 40%;
  height: 40px;
}

.section-aside {
  margin-top: 100px;
}

ul li {
  font-size: 25px;
}

.idiomas {
  margin-top: 80px;
}

#ingles {
  list-style: none;
  font-size: 30px;
  font-weight: bolder;
}


/*----Main----*/

.main {
  width: 70%;
}

.main h2 {
  font-size: 40px;
  font-weight: 800;
  border-bottom: 3px solid rgb(206, 206, 249);
  margin: 40px;
}

.nombre {
  width: 100%;
  font-size: 70px;
  text-align: center;
}

#apellido {
  height: 50px;
}

#nombre {
  margin-top: -15px;
  border: 2px solid rgb(206, 206, 249);
}

.nombre article {
  height: 230px;
  margin-top: 80px;
  background-color: rgb(206, 206, 249);
}

/*----Experiencia----*/

.experiencia,
.habilidades {
  margin: 20px;
  background-color: rgb(212, 252, 248);
  padding: 15px;
}

#exp-1,
#exp-2,
#exp-3 {
  border-bottom: 2px dashed black;

}

/*----Redes Sociales----*/

.redes-sociales {
  margin: auto;
  margin-left: 75px;
  width: 90%;
}

.sociales {
  width: 80px;
  margin: 0px 25px 0px 25px;
  transition: 300ms;
}

.redes-sociales .sociales:hover {
  transform: scale(1.2);
}

.facebook,
.tuiter,
.linkedin {
  border-radius: 50%;
}

/*----Gracias----*/

.te-gusto {
  width: auto;
  height: 150px;
  padding: 10px 0px 15px 0px;
  text-align: center;
  font-weight: bold;
}

#si,
#no {
  width: 80px;
  height: 40px;
  color: white;
  font-weight: bold;
  font-size: large;
}

#si {
  background-color: green;
}

#no {
  background-color: red;
}

.nota-final {
  width: 80%;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: blue;
}